{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% set numberOfCols = config('Ceres.footer.number_of_cols') %}
{% set colSize = (12 / (numberOfCols + 1)) %}
{% set displayedCategories = [] %}
{% set numberOfFeatures = config('Ceres.footer.number_of_features') %}
{% set topButtonPosition = config('Ceres.footer.to_top_button') %}

<!-- ***** Special Featured Area Start ***** -->
    <section class="special_feature_area d-md-flex align-items-center">
        <!-- Single Feature Area -->
        <div class="single_feature_area d-flex align-items-center justify-content-center">
            <div class="feature_icon">
                <i class="ti-truck"></i>
                <span><i class="ti-check" aria-hidden="true"></i></span>
            </div>
            <div class="feature_content">
                <h6>Kostenlose Lieferung innerhalb Deutschlands</h6>
                <p>internationale Versandkosten finden sie<a href="Versandkosten">hier</a></p>
            </div>
        </div>
        <!-- Single Feature Area -->
        <div class="single_feature_area d-flex align-items-center justify-content-center">
            <div class="feature_icon">
                <i class="ti-headphone-alt"></i>
                <span><i class="ti-check" aria-hidden="true"></i></span>
            </div>
            <div class="feature_content">
                <h6>Kundenservice</h6>
                <p>Wir beraten Sie gerne</p>
            </div>
        </div>
        <!-- Single Feature Area -->
        <div class="single_feature_area d-flex align-items-center justify-content-center">
            <div class="feature_icon">
                <i class="ti-back-left"></i>
                <span><i class="ti-check" aria-hidden="true"></i></span>
            </div>
            <div class="feature_content">
                <h6>Rückgaberecht</h6>
                <p>14 Tage kostenlose Rückgabe</p>
            </div>
        </div>
        <!-- Single Feature Area -->
        <div class="single_feature_area d-flex align-items-center justify-content-center">
            <div class="feature_icon">
                <i class="ti-credit-card"></i>
                <span><i class="ti-check" aria-hidden="true"></i></span>
            </div>
            <div class="feature_content">
                <h6>Geldzurückgarantie</h6>
                <p>2 Jahre Herstellergarantie</p>
            </div>
        </div>
    </section>
    <!-- ***** Special Featured Area End ***** -->

    <!-- ***** Footer Area Start ***** -->
    <footer class="footer_area section_padding_100">
        <div class="container">
            <div class="row">
                <!-- Single Footer Area Start -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single_footer_area">
                        <div class="footer_heading mb-30">
                            <h6>Über uns</h6>
                        </div>
                        <div class="footer_content">
                            <p>Die Arbeit mit Lebensmitteln ist immer auch ein gutes Stück Vertrauen! So wie Ihre Kunden Ihnen vertrauen, so können Sie mit ruhigem Gewissen uns vertrauen.         </p>
                            <p>Telefon: +49 5956 98926-0</p>
                            <p>Email: info@beeketal.de</p>
                        </div>

                    </div>
                </div>
                <!-- Single Footer Area Start -->
                <div class="col-12 col-md-6 col-lg">
                    <div class="single_footer_area">
                        <div class="footer_heading mb-30">
                            <h6>Information</h6>
                        </div>
                        <ul class="footer_widget_menu">
                            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Versandinformationen</a></li>
                            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>AGB</a></li>
                            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Widerrufsrecht</a></li>
                            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Zahlungsbedingungen</a></li>
                            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Kontakt</a></li>
                            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Datenschutz</a></li>

                        </ul>
                    </div>
                </div>
                <!-- Single Footer Area Start -->
                <div class="col-12 col-md-6 col-lg">
                    <div class="single_footer_area">
                        <div class="footer_heading mb-30">
                            <h6>Beeketal Lebensmitteltechnik</h6>
                        </div>
                        <ul class="footer_widget_menu">
                            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Ausstellung vor Ort</a></li>
                            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Über uns</a></li>
                            <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Produktvorschau</a></li>
                          
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <!-- Footer Bottom Area Start -->
        <div class="footer_bottom_area">
            <div class="container">
                <div class="row">
                    <!-- Copywrite Content -->
                    <div class="col-12 col-md">
                        <div class="copywrite_text text-left d-flex align-items-center">
                            <p>Made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="#">Designing World</a></p>
                        </div>
                    </div>
                    <!-- Payment Method -->
                    <div class="col-12 col-md">
                        <div class="payment_method text-right">
                            <img src="img/payment-method/paypal.png" alt="">
                            <img src="img/payment-method/maestro.png" alt="">
                            <img src="img/payment-method/western-union.png" alt="">
                            <img src="img/payment-method/discover.png" alt="">
                            <img src="img/payment-method/american-express.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
