@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/fonts/glyphicons-halflings-regular.eot');
  src: url('//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/fonts/glyphicons-halflings-regular.woff') format('woff'), url('//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.brand img {
  max-height: 6rem !important;
}

.top-bar {
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
    0 5px 15px 0 rgba(0, 0, 0, 0.08);
}
@media only screen and (max-width: 600px) {


  .widget-image-carousel .widget-inner .widget-caption h2, .widget-image-carousel .widget-inner .widget-caption .h2{
    font-size: 1.0rem;
  }
  .widget-image-carousel.widget-primary .carousel-indicators li{
    display: none;
  }

}

@media only screen and (max-width: 600px) {
  .brand img {
    max-height: 4.5rem !important;
  }
  .top-bar .controls-list>li{
    font-size: 1rem;

  }
  .addedlist{
    display: none;
  }
}

.brand {
  position: relative;
  top: 50%;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  background-color: #e6e6e6;
}

.top-bar .controls-list>li {
  font-size: 1.2rem !important;
}

.tophead {
  background-color: #962d22;
  color: #fff;
}

@media only screen and (max-width: 600px) {
  div#page-body {
    margin-top: 0px;
    background: white;
  }

  .desk {
    display: block;
  }

  nav.navbar. {
    height: 50px;
  }

  .brand-wrapper {
    background: white;
  }

  page-body {
    margin-top: 2px;
    background: white;
  }

  .container-max.logosearch {
    display: none;
  }
}
div#page-body {
  margin-top: 0px;
  background: white;
}

.top-container {
  width: 100%;
  z-index: auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

span.badge {
  font-size: 1.3rem;
}

.container-max.logosearch {
  background: white;
}

i.fa.fa-shopping-cart {
  font-size: 1.3rem;
}

.top-bar a:not(.btn) {
  text-decoration: none;
  color: #962d22;
  outline: none;
}

.container-max.logosearch>.row>div[class*=col-] {
  display: table-cell;
  float: none;
  vertical-align: middle;
}

.top-bar .brand-wrapper {
  position: relative;
  padding: 0;
}

.top-bar .brand-wrapper .navbar-brand img {
  max-height: 6rem;
}

.top-bar #suchbox {
  padding: 0;
  position: relative;
  top: 0;
  background-color: unset;
  right: unset;
  left: 0;
  margin-right: 2rem;
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}
.searchbox{
  padding-right: 0px;
 padding-left: 0px0:
}
.normalmenu .collapse-inner>li a {
    padding: 1rem;
    color: white;
}
@media only screen and (min-width: 600px) {
  .desk {
    display: none;
  }
}

@media (min-width: 992px) {
  #mainNavbarCollapsable ul.mainmenu>li>a {
    padding: 1.3rem 1rem;
    width: 100%;
    font-weight: bold;
  }
}

.top-bar {
  background: white;
}

@media (min-width: 1px) {
  .top-bar .controls-list {
    width: 100%;
    background: #962d22;
  }

}

@media (min-width: 544px) {
  .top-bar .controls-list>li a:not(.btn) {
    font-weight: bold;
    color: white;
  }

}

.anicon>.anicon-search-item:after {
  background: #962d22;
}

.list-inline {
  padding-left: 1;
}

.prefooter {
  text-align: center;
}
}
.image-list img {
  max-width: 150px;
}
.image-list li {
    list-style: none;
}
.middlefooter ul {
  list-style-type: none;
  padding-left: 10px
}

.middlefooter ul li {
  padding: 2px 0
}
.row.headrow {
    display: block !important;
}
.middlefooter li:before {
  content: "\00b7";
  margin-right: 15px
}
.container-max.logosearch>.row>div[class*=col-] {
    width: fit-content;
}
.container-max.logosearch>div[class*=row] {
   display: block;
}


.top-container>div[class*=row] {
   display: block;


   }

.middlefooter li.phone {
  font-size: 16px;
  margin-bottom: -8px
}

.middlefooter li.phone:before {
  content: "\e182";
  font-family: 'Glyphicons Halflings';
  margin: 0 8px 0 -6px
}

.middlefooter li.mail {
  font-size: 16px
}

.middlefooter li.mail:before {
  content: "\e171";
  font-family: 'Glyphicons Halflings';
  margin: 0 10px 0 -8px
}

.middlefooter li.noicon:before {
  content: "";
  margin-right: 18px
}

.middlefooter .disclaimer, .middlefooter .disclaimer a {
  color: #5c5c5c
}

@media(min-width:768px) {
  .middlefooter .disclaimer {
    text-align: right
  }
}
@media only screen and (min-width: 801px) {
{
      position: fixed;
      background-color: #e6e6e6;
      top: 0px !important;
}
div#top-bar-header.sticky{
  position: fixed;
    top: 0 !important;
    width: 100% !important;

}
div#header-logo-search.sticky{
display: none;

}
div#top-mini-bar.sticky{
display: none;

}
div#page-body {
    margin-top: 0px;
    background: white;
    max-width: 1200px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
div#mainNavbarCollapsable.sticky{
  animation: 2s ease 0s normal forwards 1 running slidedown;
  -webkit-animation-name: slidedown;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  -ms-animation-name: slidedown;
  -ms-animation-duration: 2s;
  -ms-animation-iteration-count: 1;
  -ms-animation-timing-function: ease;
  -ms-animation-fill-mode: forwards;
  -moz-animation: 2s ease 0s normal forwards 1 running slidedown;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  -moz-transform: translateY(-100px);
  max-height: 100%;
  padding: 0;
  top: 0 !important;
  width: 100%;
  border-top: none;
  z-index: 9999
}

.fixed.sticky .logo {
  margin-top: 5px;
  margin-left: -42px
}

.fixed.sticky .logo img {
  max-height: 65px
}

.fixed.sticky .logo-holder {
  display: none
}

.fixed #wrap {
  margin-top: 0
}
}


@keyframes slidedown {
  100% {
    transform: translateY(0px)
  }
}

@-webkit-keyframes slidedown {
  100% {
    -webkit-transform: translateY(0px)
  }
}

@-moz-keyframes slidedown {
  100% {
    -moz-transform: translateY(0px)
  }
}

@media (min-width: 992px){
#mainNavbarCollapsable ul.mainmenu>li>ul>li {
    color: #fffefe;
    text-align: left;
}
}

.top-bar .controls-list>li a:not(.btn) {
    padding: 0.5rem .8rem;
    display: inline-block;
}
.top-bar .controls-list {
    margin-bottom: 0;
    font-size: 0;
    display: flex;
}
.normalmenu .collapse {
  z-index:1
}
.control-basket .toggle-basket-preview {
background-color: transparent;
}
.control-basket .toggle-basket-preview:hover{
  background-color: transparent;
}
@media (max-width: 991.98px){
nav.navbar .container-max>div.row .brand-wrapper {
    width: 100%;
}}
