.brand img {
max-height: 6rem !important;
}
@media only screen and (max-width: 600px) {
.brand img {
max-height: 4.5rem !important;
}}
.brand {
position: relative;
top: 50%;
max-width: 1500px;
margin-left: auto;
margin-right: auto;
}
.navbar{
  background-color: #e6e6e6;
}
.tophead {
  background-color: #962d22;
  color: #fff;
}
